* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 39px;
    text-align: left;
    padding-bottom: 20px
}

h2 {
    font-family: "Roboto", sans-serif
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #0e0e0e
}

a {
    font-family: "Roboto", sans-serif
}

body {
    background-color: #f5f5f5;
    display: grid;
    grid-template-areas: "header header""main main""footer footer"
}

header {
    grid-area: header
}

.img-header {
    width: 50px;
    height: 50px
}

footer {
    grid-area: footer
}

footer p {
    color: #fff
}

.tituloprincipal {
    padding: 4px;
    margin: 4px;
    font-size: 2rem
}

.texto-titulo {
    padding: 4px;
    margin: 4px;
    font-size: 1rem
}

.palabramarc1 {
    font-weight: bold;
    color: #000
}

.logos-compes {
    display: flex;
    flex-direction: row
}

.logo-sines img {
    width: 220px;
    height: 220px;
    margin-left: 16.8rem;
    border-radius: 130px;
    transition: transform .2s
}

.logo-sines img:hover {
    transform: scale(1.1);
    box-shadow: 8px 8px 12px #000
}

.logo-gold img {
    width: 220px;
    height: 220px;
    margin-left: 16.8rem;
    border-radius: 130px;
    transition: transform .2s
}

.logo-gold img:hover {
    transform: scale(1.1);
    box-shadow: 8px 8px 12px #000
}

.texto-sines {
    margin-top: 2rem;
    margin-left: 15rem;
    text-align: center
}

.texto-gold {
    margin-top: 2rem;
    margin-left: 15rem;
    text-align: center
}

.main-discos {
    background-image: url(../multimedia/img/concierto1.jpg);
    background-size: cover
}

.carousel1 {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 600px;
    width: 600px
}

.carousel-inner1 {
    border-radius: 30px;
    border-color: #fff;
    border-style: solid
}

.img-princ-sines {
    padding-top: .8rem;
    padding-bottom: .8rem
}

.img-princ-sines img {
    border-radius: 2rem
}

.titulo-princ-sines h1 {
    text-align: center
}

.subtitulo-princ-sines {
    text-align: center
}

.texto-princ-inicio-sines {
    padding-top: .8rem;
    padding-bottom: .8rem;
    text-align: center
}

.video-sines-1 {
    padding-left: .5rem
}

.texto-princ-desarrollo-sines {
    padding-top: .8rem;
    text-align: center
}

.img-princ-gold {
    padding-top: .8rem;
    padding-bottom: .8rem
}

.img-princ-gold img {
    border-radius: 2rem;
    height: 500px;
    width: 1211px
}

.subtitulo-princ-gold {
    text-align: center
}

.texto-princ-inicio-gold {
    padding-top: .8rem;
    padding-bottom: .8rem;
    text-align: center
}

.video-gold-1 {
    padding-left: .5rem
}

.texto-princ-desarrollo-gold {
    padding-top: .8rem;
    text-align: center
}

.main-contacto {
    background-image: url(../multimedia/img/concierto1.jpg);
    background-size: cover;
    height: 140vh;
    margin-top: -5rem
}

.contact_form {
    width: 460px;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #fbfbfb;
    padding-left: 30px
}

input {
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px
}

textarea {
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px
}

label {
    display: block;
    float: center
}

button {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #000;
    border-color: gray;
    border-style: solid;
    border-radius: 10px;
    width: 420px;
    cursor: pointer
}

button p {
    color: #fff
}

span {
    color: gray
}

.aviso {
    font-size: 13px;
    color: #0e0e0e
}

h3 {
    font-size: 16px;
    padding-bottom: 30px;
    color: #0e0e0e
}

.formulario input:focus {
    outline: 0;
    border: 1px solid #97d848
}

.formulario textarea:focus {
    outline: 0;
    border: 1px solid #97d848
}

.formulario1 {
    color: #000
}

@media screen and (max-width: 1023px) {
    .contenido-principal {
        display: none
    }

    .div-mobile-sines {
        display: flex
    }

    .contenido-mobile-sines {
        display: flex;
        flex-direction: column
    }

    .titulo-princp-index {
        text-align: center
    }

    .formulario {
        margin-left: .5rem
    }
}

@media screen and (max-width: 374px) {
    .carousel-img-mobile {
        width: 320px;
        height: 571px
    }

    .carousel-pc {
        display: none
    }

    .carousel-tablet {
        display: none
    }
}

@media screen and (max-width: 424px) {
    .carousel-img-mobile {
        width: 375px;
        height: 571px
    }

    .carousel-pc {
        display: none
    }

    .carousel-tablet {
        display: none
    }
}

@media screen and (max-width: 767px) {
    .carousel-img-mobile {
        width: 425px;
        height: 571px
    }

    .carousel-pc {
        display: none
    }

    .carousel-tablet {
        display: none
    }
}

@media screen and (min-width: 768px) {
    .carousel-img-mobile {
        width: 768px;
        height: 571px
    }

    .carousel-mobile {
        display: none
    }

    .carousel-pc {
        display: none
    }

    .titulo-princ-sines h1 {
        text-align: center;
        margin-left: 30rem
    }

    .video-sines-1-mobile iframe {
        margin-left: 15rem
    }

    .titulo-princ-gold h1 {
        text-align: center;
        margin-left: 30rem
    }

    .video-gold-1-mobile iframe {
        margin-left: 15rem
    }

    .video-gold-1-pc iframe {
        display: none
    }
}

@media screen and (min-width: 1024px) {
    .carousel-pc {
        display: flex
    }

    .carousel-mobile {
        display: none
    }

    .carousel-tablet {
        display: none
    }

    .video-sines-1-mobile iframe {
        display: none
    }

    .video-gold-1-mobile iframe {
        display: none
    }

    .video-gold-1 iframe {
        display: flex
    }

    .div-mobile-sines {
        display: none
    }
}

@media screen and (min-width: 320px) {
    .img-princ-sines img {
        display: none
    }

    .img-princ-sines-mobile img {
        width: 300px;
        height: 530px
    }

    .titulo-princ-sines {
        width: 200px;
        margin-left: 4rem
    }

    .texto-princ-inicio-sines div p {
        display: block
    }

    .video-sines-1-pc iframe {
        display: none
    }

    .video-sines-1-mobile iframe {
        margin-left: .7rem
    }

    .titulo-princ-gold {
        width: 200px;
        margin-left: 4rem
    }

    .texto-princ-inicio-gold div p {
        display: block
    }

    .video-gold-1 iframe {
        display: none
    }

    .video-gold-1-mobile iframe {
        margin-right: .7rem
    }

    .video-gold-1-pc iframe {
        display: none
    }
}

@media screen and (min-width: 375px) {
    .titulo-princ-sines h1 {
        text-align: center;
        margin-left: 3rem
    }

    .video-sines-1-mobile iframe {
        margin-left: 2.5rem
    }

    .titulo-princ-gold h1 {
        text-align: center;
        margin-left: 3rem
    }

    .video-gold-1-mobile iframe {
        margin-left: .7rem
    }

    .video-gold-1-pc iframe {
        display: none
    }
}

@media screen and (min-width: 425px) {
    .titulo-princ-sines h1 {
        text-align: center;
        margin-left: 8rem
    }

    .video-sines-1-mobile iframe {
        margin-left: 4.6rem
    }

    .titulo-princ-gold h1 {
        text-align: center;
        margin-left: 8rem
    }

    .video-gold-1-mobile iframe {
        margin-left: 2.5rem
    }

    .video-gold-1-pc iframe {
        display: none
    }
}