.main-discos {
  background-image: url(../multimedia/img/concierto1.jpg);
  background-size: cover;
}

.carousel1 {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 600px;
  width: 600px;
}
.carousel-inner1 {
  border-radius: 30px;
  border-color: #fff;
  border-style: solid;
}
