.img-princ-gold {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  img {
    border-radius: 2rem;
    height: 500px;
    width: 1211px;
  }
}
.subtitulo-princ-gold {
  text-align: center;
}
.texto-princ-inicio-gold {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  text-align: center;
}
.video-gold-1 {
  padding-left: 0.5rem;
}
.texto-princ-desarrollo-gold {
  padding-top: 0.8rem;
  text-align: center;
}
