.tituloprincipal {
  padding: 4px;
  margin: 4px;
  font-size: 2rem;
}
.texto-titulo {
  padding: 4px;
  margin: 4px;
  font-size: 1rem;
}
.palabramarc1 {
  font-weight: bold;
  color: #000;
}
.logos-compes {
  display: flex;
  flex-direction: row;
}
.logo-sines {
  img {
    width: 220px;
    height: 220px;
    margin-left: 16.8rem;
    border-radius: 130px;
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.1);
      box-shadow: 8px 8px 12px #000;
    }
  }
}
.logo-gold {
  img {
    width: 220px;
    height: 220px;
    margin-left: 16.8rem;
    border-radius: 130px;
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.1);
      box-shadow: 8px 8px 12px #000;
    }
  }
}
.texto-sines {
  margin-top: 2rem;
  margin-left: 15rem;
  text-align: center;
}
.texto-gold {
  margin-top: 2rem;
  margin-left: 15rem;
  text-align: center;
}
