.img-princ-sines {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  img {
    border-radius: 2rem;
  }
}
.titulo-princ-sines {
  h1 {
    text-align: center;
  }
}
.subtitulo-princ-sines {
  text-align: center;
}
.texto-princ-inicio-sines {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  text-align: center;
}
.video-sines-1 {
  padding-left: 0.5rem;
}
.texto-princ-desarrollo-sines {
  padding-top: 0.8rem;
  text-align: center;
}
