.img-princ-sines {
  @include texto-compes (padding);
  img {
    border-radius: 2rem;
  }
}
.titulo-princ-sines {
  h1 {
    text-align: map-get($texto-estilos, centro);
  }
}
.subtitulo-princ-sines {
  text-align: map-get($texto-estilos, centro);
}
.texto-princ-inicio-compes {
  @include texto-compes (padding);
  text-align: map-get($texto-estilos, centro);
}
.video-sines-1 {
  padding-left: 0.5rem;
}
.texto-princ-desarrollo-sines {
  padding-top: 0.8rem;
  text-align: map-get($texto-estilos, centro);
}
